html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: url('img/fon.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
